@import "tailwindcss";

@theme {
    --font-pixel: "VT323", serif;
    --font-grotesk: "Space Grotesk", serif;
}

@layer utilities {

    .retro-box {
        @apply bg-black border-5 border-zinc-800;
    }

    .retro-box-dashed {
        @apply bg-black border-5 border-dashed border-zinc-800;
    }
    .retro-text {
        @apply text-white font-pixel;
    }
}

.bg-pattern {
    background-image: url('/bgpattern.png');
    background-repeat: repeat;
    animation: movePattern 5s linear infinite;
}

@keyframes movePattern {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 32px 0px;
    }
}